@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800&family=Inconsolata:wght@400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Raleway', sans-serif;
}
/* background */
.bg-black {
    background: #141414;
    width: 100%;
}
.bg-1E2827 {
    background: #1E2827;
}
/* border */
.rounded-8 {
    border-radius: 8px;
}
.border-none {
    border: none;
}
/* width */
.m-w-1216 {
    max-width: 1216px;
}
/* margin */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
/* display */
.flex {
    display: flex;
}
.items-center {
    align-items: center;
}
.gap-40 {
    gap: 40px;
}
.gap-80 {
    gap: 80px;
}
.justify-between {
    justify-content: space-between;
}
/* padding */
.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}
.py-18 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.px-35 {
    padding-right: 35px;
    padding-left: 35px;
}
/* fontlar */
.text-normal {
    font-style: normal;
}
.text-9 {
    font-size: 9px;
}
.text-white {
    color: white;
}
.text-center {
    text-align: center;
}
.text-400 {
    font-weight: 400;
}
.text-none {
    text-decoration: none;
}